@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

$root-font-size: 16px !default;

$base-background-color: #fff !default;
$base-font-color: #333 !default;
$base-font-family: 'Titillium Web', sans-serif !default;
$base-font-size: $root-font-size !default;
$base-line-height: 21px !default;

$base-element-height: 70px;

$radius: (
  base: 8px,
  medium: 12px,
  heavy: 16px
) !default;

$breakpoints: (
 small: 0px,
 medium: 740px,
 large: 980px,
 xlarge: 1268px
) !default;

// palette #1
$blue: #5CC8FF;
$brown: #93867F;
$black: #343633;
$purple: #7D70BA;
$pink: #DEC1FF;

// palette #2
$dark-green: #2A3234;
$dark-grey: #323334;
$murky-turqoise: #7DA09C;
$dirty-white: #E6E9E9;
$white-green: #B6C0B3;

// card vars
$base-card-color: #cdcfda;
$min-card-width: 200px;

// player
$player-timeline-color-base: #B8B6C6;
$player-timeline-color-buffer: #A69DB1;
$player-timeline-color-play: #886B82;
